<app-nav></app-nav>
<div class="container mt-5">
  <h2>Add Course</h2>
  <form (submit)="addCourse()">
    <div class="form-group">
      <label for="courseName">Course Code:</label>
      <select class="form-control" id="courseName" [(ngModel)]="newCourse.name" [ngModelOptions]="{ standalone: true }" required>
        <option value="CS">CS</option>
        <option value="SWE">SWE</option>
        <option value="INFS">INFS</option>
        <option value="ISA">ISA</option>
        <!-- Add more options as needed -->
      </select>
    </div>
    <div class="form-group">
      <label for="courseCode">Course Number:</label>
      <input type="text" class="form-control" id="courseCode" [(ngModel)]="newCourse.code" [ngModelOptions]="{ standalone: true }" required>
    </div>
    <br>
    <!-- <div class="form-group">
      <label for="courseDescription">Course Description:</label>
      <textarea class="form-control" id="courseDescription" [(ngModel)]="newCourse.description" rows="3" required></textarea>
    </div> -->
    <button type="submit" class="btn btn-primary">Add </button>
  </form>
<p><strong>Note: Refer course catalog to add courses</strong></p>
  <h2 class="mt-4">Course List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Couse Name</th>
        <th>Code</th>
        <th>Action</th>
        <!-- <th>Description</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.code }}</td>
        <td>
          <!-- Add a button to delete the course -->
          <button class="btn btn-danger" (click)="deleteCourse(course.id)">Delete</button>
        </td>
        <!-- <td>{{ course.description }}</td> -->
      </tr>
    </tbody>
  </table>
  <div class="text-center">
  <button type="button" class="btn btn-primary" (click)="calculateCoreCoursesSatisfied()">Check Requirement</button></div>
</div>
<div *ngIf="coreCoursesSatisfied < 5 || advancedCourseflag < 1; else noCoreCourses">
  <div class="text-center">
    <p>{{ coreCoursesSatisfied >= 5? 'Requirement for core courses met.':'At least '+coreCoursesSatisfiedC +' core courses should be chosen'}} </p>
    <p>{{ csAdvancedCourses.length >= 2 && advancedCourseflag == 1? 'Requirement for advanced courses met.' : 'At least four courses from the advanced courses which must come from at least two different areas, two of which must be designated as CS' }}</p>
  </div>
    <!-- <p>{{ advancedCoursesLeft }} advanced courses left to meet the requirement.</p> -->
</div>
<ng-template #noCoreCourses>
  <div class="text-center">
    <div class="alert alert-info">
      <strong>Status:</strong> You have met the minimum requirement for a Master in CS degree. See bottom of page for more info.
    </div>
  </div>
  
  <div class="text-center"><p><strong>Note: Student must select one elective/project/thesis to complete the requirement.</strong></p></div> 
</ng-template>
